{% extends "base.html"%}
{% load static  %}

{% block title %} About Us{% endblock title %}
{% block content %}

<h1>Behind the Scenes: The Apna Shop Promise of Quality, Value, and Convenience</h1>
{% endblock content %}

{% block body %}

<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        <div class="row p-b-180">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">

            <body>
                    <h3 class="mtext-111 cl2 p-b-16" class="fa-bold">
                        Our Story
                    </h3>

                    <p class="stext-113 cl6 p-b-26" align="justify">
                        Apna Shop was founded by a group of innovators who recognized the need for a reliable, transparent, and customer-centric shopping destination. From humble beginnings, we’ve grown into a trusted name, driven by a dedication to offering only the best. Our team constantly curates products that are not only affordable but also handpicked for quality and performance, ensuring that every purchase exceeds expectations.
                    </p>



                    <p class="stext-113 cl6 p-b-26" align="justify">
                        We’re not just another e-commerce platform; ApnA Shop is a community-focused brand that values feedback and strives to adapt and grow with our customers. Our platform reflects the values of trust, integrity, and innovation. Whether you’re looking for the latest in electronics, home essentials, fashion, or more, we’re here to ensure a seamless and personalized shopping experience.
                    </p>
                    </p>

                    <p class="stext-113 cl6 p-b-26" align="justify">
                        Any questions? Let us know in store at 8th floor, 379 Hudson St, kanchanwadi, NY 10018 or call us on (+91) 9146478677
                    </p>


                    <h3 class="mtext-111 cl2 p-b-16" class="fa-bold">
                        Our Goal
                    </h3>

                    <p class="stext-113 cl6 p-b-26" align="justify">
                        Apna Shop was built with one goal in mind: to offer a shopping experience that saves you time, effort, and money. With our innovative platform, carefully selected products, and a team dedicated to customer satisfaction, we’re redefining how you shop online. Here’s a little more about who we are and what drives us
                    </p>
                </div>
            </body>
            </div>


        </div>
        
        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Our Mission
                    </h3>

                    <p class="stext-113 cl6 p-b-26" align="justify">
                        At ApnA Shop, our mission is simple: to make shopping easy, affordable, and accessible for everyone. We are committed to delivering the highest quality products at competitive prices, ensuring that our customers always get the best value for their money.
                    </p>

                    <div class="bor16 p-l-29 p-b-9 m-t-22">
                        <p class="stext-114 cl6 p-r-40 p-b-11" align="justify">
                            Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a while.
                        </p>

                        <span class="stext-111 cl8">
                          
                            - Steve Job’s 
                        </span>
 


                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>	



{% endblock body %}
